{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <h2>{{ category.name }}</h2>
        {% for image in category.images %}
            <a href="{{ image.getwebpath }}" title="{{ image.name }}" data-gallery>
                <img src="{{ image.getwebpath }}" alt="{{ image.name }}">
            </a>
        {% endfor %}
    {% endfor %}
{% endblock %}
